extends layout.pug

block content
    .main
        .header
            h1.app-title Shoppinglists
            span.greeting Hello, #{username}!
            a.logout(href='/logout') Logout


        .vertical-center
            .content
                form#newList
                    input#name(type='text', name='name', placeholder='Enter name for new shopping list..')
                    button(type='submit') New List

                ul#shopping-lists
                    each list in lists
                        li 
                            span.name #{list.name}
                            span.items (#{list.items.length} Items)
                            span.id #{list._id}
                            span.delete(onclick="remove('" + list._id +"')")
                                i(class="far fa-trash-alt")

block scripts
    script.
        document.getElementById("newList").onsubmit = function(event) {
            event.preventDefault();
            const params = new URLSearchParams([...new FormData(event.target).entries()]);
            fetch("/api/v1/lists/", { method:"POST", body: params }).then(response => {
                location.reload();
            });
        }
        function remove(id) {
            return fetch("/api/v1/lists/" + id, { method: 'DELETE' }).then(response => {
                location.reload();
            });
        }
