extends layout.pug

block content
    .whole-page-form
        if errors
            each err in errors
                span.error=err
        h1.centered.fancy-font Shopping lists API
        p.centered Welcome to the shopping lists API.<br>Your <b>personal API</b> to <b>Manage</b> shopping lists.
        h2.centered.fancy-font Login
        .vertical-center
            form.column-form(method='POST' autocomplete='off')
                input#name(type='text', name='username' placeholder='Enter username')
                input#password(type='password' name='password' placeholder='Enter password')
                button(type='submit') Login
                a.hint(href='/register') Register a new account here