form(method='POST')
    input#name(type='text', name='username')
    input#password(type='password' name='password')
    input#redirect(type="hidden", name="redirectUrl", value=redirectUrl)
    button(type='submit') Sign up