extends layout.pug

block content
    .whole-page-form
        if errors
            each err in errors
                span.error=err
        h1.centered Login
        .vertical-center
            form.column-form(method='POST')
                input#name(type='text', name='username' placeholder='Enter username')
                input#password(type='password' name='password' placeholder='Enter password')
                button(type='submit') Login
                a.hint(href='/register') Register a new account here