extends layout.pug

block content

    if errors
        each err in errors
            span.error=err
    h1.centered Create new account
    .form-container
        form(method='POST')
            input#name(type='text', name='username', placeholder='Enter username')
            input#password(type='password' name='password', placeholder='Enter password')
            input#repeat(type='password' name='repeat', placeholder='Repeat password')
            button(type='submit') Register
            a.hint(href='/login') Already have an account? Sign in here.