html {
    --color-foreground-dark: #2D3142;
    --color-foreground-light: #4F5D75;
    --color-background-dark: #BFC0C0;
    --color-background-light: #FFFFFF;
    --color-highlight: #EF8354;
}

html {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-foreground-dark);
    min-height: 100%;
    margin: 0;
    padding: 0;
}

form input[type="text"],
form input[type="password"] 
{
    margin-bottom: 1em;
    padding: 0.5em 1em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-foreground-dark);
}

form input:focus {
    border-bottom: 1px solid rgb(84, 145, 214);
}

form button {
    margin-top: 2em;
    padding: 1em;
    border: 1px solid var(--color-foreground-dark);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.25);
    background-color: var(--color-foreground-light);
    outline: none;
    color: var(--color-background-light);
    cursor: pointer;
}

form button:active {
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
    outline: none;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered {
    text-align: center;
}

form.column-form {
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px 50px 50px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Whole page forms */
.whole-page-form:before {
    --blur-size: 10px;
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-top: calc(0 - var(--blur-size));
    margin-left: calc(0 - var(--blur-size));
    height: calc(100% + 2 * var(--blur-size));
    width: calc(100% + 2 * var(--blur-size));
    z-index: -1;
    
    background-image: url(/public/shopping-carts.jpg);
    filter: blur(var(--blur-size));
    background-size: cover;
    background-position: center;
  }

.whole-page-form {
    background: white;
    max-width: 500px;
    margin: auto;
    border: 1px solid grey;
    border-radius: 2px;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.5);
}

@media(min-width: 800px) {
    .whole-page-form {
        margin-top: 5em;
    }
}

.whole-page-form .error {
    display: block;
    padding: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid rgb(175, 59, 59);
    background-color: rgba(175, 59, 59, 0.15);
}

.whole-page-form a.hint {
    text-align: end;
    margin-top: 0.2em;
}

.whole-page-form a.hint:visited {
    text-decoration: none;
    color: inherit;
}

/* Main app */

.main .header {
    display: flex;
    flex-direction: row;
    align-items: center;

    --header-height: 50px;
    height: var(--header-height);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
    background-color: var(--color-foreground-dark);
    color: var(--color-background-dark);
    padding: 0 1rem;
}

.main .header h1.app-title {
    margin: 0;
    display: inline-block;
    height: auto;
    flex-grow: 1;
}

.main .header .logout {
    color: inherit;
    padding-left: 1em;
}

