html {
    min-height: 100%;
}

body {
    color: #444;
    min-height: 100%;
}


/* Whole page forms */
.whole-page-form:before {
    --blur-size: 10px;
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-top: calc(0 - var(--blur-size));
    margin-left: calc(0 - var(--blur-size));
    height: calc(100% + 2 * var(--blur-size));
    width: calc(100% + 2 * var(--blur-size));
    z-index: -1;
    
    background-image: url(/public/shopping-carts.jpg);
    filter: blur(var(--blur-size));
    background-size: cover;
    background-position: center;
  }

.whole-page-form {
    background: white;
    max-width: 500px;
    margin: auto;
    border: 1px solid grey;
    border-radius: 2px;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.5);
}

@media(min-width: 800px) {
    .whole-page-form {
        margin-top: 5em;
    }
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.error {
    display: block;
    padding: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid rgb(175, 59, 59);
    background-color: rgba(175, 59, 59, 0.15);
}

.centered {
    text-align: center;
}

form {
    padding: 0 50px 50px 50px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

form input[type="text"],
form input[type="password"] 
{
    margin-bottom: 1em;
    padding: 0.5em 1em;
    border: none;
    outline: none;
    border-bottom: 1px solid #444;
}

form input:focus {
    border-bottom: 1px solid rgb(84, 145, 214);
}

form button {
    margin-top: 2em;
    padding: 1em;
    border: 1px solid rgb(82, 104, 85);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.25);
    background-color: rgba(82, 104, 85, 0.1);
    cursor: pointer;
}

form button:active {
    box-shadow: -1px -1px 3px 0px rgba(0,0,0,0.25);
    background-color: rgba(82, 104, 85, 0.2);
    outline: none;
}

a.hint {
    text-align: end;
    margin-top: 0.2em;
}

a.hint:visited {
    text-decoration: none;
    color: inherit;
}